<!DOCTYPE html>
<h1>Chemistry</h1>

<section>
	I don't have any examples but did very good on the tests :)
</section>

<style>
section {
    width:1000px;
    float:left;
    padding:100px; 
}

</style>
