<html >
<h1>English</h1>
<br>
<section>
<header>
<b>My claimed poem is Sweater Weather: A Love Song to Language
written by Sharon Bryan.</b>
</header>
<br>
<br>
<br>Never better, mad as a hatter,
<br>right as rain, might and main,
<br>hanky panky, hot toddy,
<br> 
<br>hoity-toity, cold shoulder,
<br>bowled over, rolling in clover,
<br>low blow, no soap, hope
<br>
<br> 
<br>against hope, pay the piper,
<br>liar liar pants on fire,
<br>high and dry, shoo-fly pie,
<br> 
<br>fiddle-faddle, fit as a fiddle,
<br>sultan of swat, muskrat
<br>ramble, fat and sassy,
<br> 
<br>flimflam, happy as a clam,
<br>cat's pajamas, bee's knees,
<br>peas in a pod, pleased as punch,
<br> 
<br>pretty as a picture, nothing much,
<br>lift the latch, double Dutch,
<br>helter-skelter, hurdy-gurdy,
<br>
<br> 
<br>early bird, feathered friend,
<br>dumb cluck, buck-up,
<br>shilly-shally, willy-nilly,
<br>
<br>roly-poly, holy moly,
<br>loose lips sink ships,
<br>spitting image, nip in the air,
<br> 
<br>hale and hearty, part and parcel,
<br>upsy-dasiy, lazy days,
<br>maybe baby, up to snuff,
<br> 
<br>flibbertigibbbet, honky-tonk,
<br>spic and span, handyman,
<br>cool as a cucumber, blue moon,
<br> 
<br>high as a kite, night and noon,
<br>love me or leave, seventh heaven,
<br>up and about, over and out.
<br> 
</section>

<section>
<b>My response is titled The deadpan oxymoron.</b>
<br>
<br>Pretty ugly, tragic comedy
<br>typically odd, a definite maybe
<br>
<br>Seriously funny, show me the money
<br>it's always sunny, my nose is runny
<br> 
<br>In your face, in your shoes,
<br>in the bag, in the news
<br> 
<br>Balls in your court, beat around the bush
<br>mumbo jumbo, off the hook
<br>
<br>Proof’s in the pudding, born to be free,
<br>pick your poison, Zaloa Goiri
<br> 
<br>Easy to see, yet all greek to me
<br>to the highest degree, I guarantee
<br> 
<br>Drama llama, papa thomas,
<br>prima donna, lava mama
<br> 
<br>Rise and shine, turn on a dime,
<br>what’s yours is mine, I can't find a rhyme
<br> 
<br>Raincheck, ran out of steam,
<br>sick as a dog, but I can still dream
<br> 
<br>Bend over backwards, beat a dead horse,
<br>blessing in disguise, and back to square one.

</section>
<style>
section {
    width:500px;
    float:left;
    padding:10px; 
}
header {
    width:300px;
    float:left;
}
</style>


