<!DOCTYPE html>
<h1>About Japhy</h1>
<p>
I have always been interested in programming. Because of my love for math coding has always appealed to me. The biggest goal for me right now is to get straight A's all through high-school and become a good software developer.
 
I am a leader in Safe Rides where I take calls as dispatcher drivers to pick up young kids unable to get a safe ride.
</p>

