<!DOCTYPE html>
<h1>History</h1>
<p>

<br>The Great Depression comes first to many minds when considering the hardest times in American history. It is hard to forget an event that changed the course of our seemly perfect utopian society. Millions lost their money, thousands lost their jobs, and hundreds starved unable to feed themselves or their families. It took more than just a reduction of consumerism to repair our broken economy, the next 10 years were devoted to fixing the mistakes made by our government for tens of years prior. Many factors brought such a poor economy to our nation such as inflation during the 1920’s and the Laissez-faire attitude of Harding, Coolidge, and Hoover.
<br><br>
The 1920’s in America brought many luxuries to the new and growing nation. Utilizing our capitalistic ideals and encouraging corporate greed we became the greatest, and richest country in the world. All good things must come to an end. We soon found ourselves over-producing and manufacturing more and more without enough money or people to buy it all. Financial experts in the 1920’s warned anyone they could of the dangers of what was happening. On top of the overproduction banks were giving out too many loans and offering stocks with little thought put into its actual value. On October 23rd, 1929 the over priced Ford stocks started to fall for the first time and many people became hesitant of losing their money. Less than one week later, on October 29th, the entire stock market plunged.
<br><br>
The people ran to the banks and attempted to withdraw their stocks and cash but to their surprise the banks had only small fractions of what was deposited just weeks earlier. Banks were only required to save a staggering 7% of an account holder’s money, free to loan out or invest the other 93%. The corporations, banks, and citizens all went broke. Many historians argue that this crash was a cause of the Great Depression but it is very clear that this was not a cause but a sign that the depression was hitting America full force. We were heading down a very bad road from the beginning of the 1920’s and the crash just accelerated the impending fall of our economy, and then country.
<br><br>
The fall of our economy was set in place years back by the laissez-faire leadership of Harding, Coolidge, and most prominently, Herbert Hoover. These presidents were advised by many to take more control over the banking system and decided against it. Harding and Coolidge both chose to keep things the way they were and ignore financial guidance but Hoover was 8 months into his presidency when the market crashed seemingly beyond repair.
<br><br>
History.com says that Hoover insisted that this was just a passing recession and things would go back to the way they were in no time. “Economic depression cannot be cured by legislative action or executive pronouncement. Economic wounds must be healed by the action of the cells of the economic body - the producers and consumers themselves.”[1] Many historians believe that the inaction of Hoover dug us deeper into the depression, though I disagree. We hit rock bottom when the market crashed and afterwards, with Hoover, the banks did make a comeback recovering 20% of lost cash[2]. Though I argue the great negative impact Hoover had, there is no arguing the fact that Franklin D. Roosevelt, our next president, ended the depression swiftly and far more abruptly than any “hands-off” president could have. Roosevelt enacted the New Deal and used household radios to convince citizens to trust banks again and brought our nation back to the economic state it is in today.
<br><br>
[1]Herbert Hoover, Annual Message to the Congress on the State of the Union, December 2, 1930
<br>
[2]http://ic.galegroup.com/
 
</p>

